/* Start Global Rules */
:root {
    --main-color: #10cab7;
    --sec-color: #2c4755;
    --section-padding:60px;
    --sectoin-background:#f6f6f6;
    --p-color: #777;
    --line-height:1.8;
    --trasition-duration:0.4s;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Work Sans', sans-serif;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* Small  */
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}
/* Large  */
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Components  */
.special-heading {
    color: #ebeced;
    font-weight: 800px;
    font-size: 100px;
    text-align: center;
    letter-spacing: -3px;
    margin: 0;
}
.special-heading + p {
    color: #797979;
    font-size: 20px;
    text-align: center;
    margin: -30px 0 0;
}
@media (max-width:767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin: -17px;
        font-size: 15px;
    }
}
/* End Components  */
/* Start Header  */
.header{
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 60px;
}
.header .links {
    position: relative; 
}
.links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
    width: 100%;

}
.links .icon  span:nth-child(2) {
    width: 70%;
    transition-duration: var(--trasition-duration);
}
.links .icon:hover  span:nth-child(2){
    width: 100%;
}
.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #f6f6f6;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
}
.header .links:hover ul{
    display: block;
}
.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header .links ul a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color:#333 ;
    transition: var(--trasition-duration);
    -webkit-transition: var(--trasition-duration);
    -moz-transition: var(--trasition-duration);
    -ms-transition: var(--trasition-duration);
    -o-transition: var(--trasition-duration);
}
.header .links ul a:hover {
    padding: 25px;
    font-weight: bold;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

/* End Header  */
/* Start Landing Section  */
.landing {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color , #10cab7);
}
.landing .intro-text p {
    font-size: 19px;
    line-height: var(--line-height);
}
/* End Landing Section  */
/* Start Features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--sectoin-background);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,  minmax(300px , 1fr));
    gap: 20px;
}
.features .container .feat {
    text-align: center;
}
.features .container .feat i {
    color: var(--main-color);
    font-size: 30px;
}
.features .container .feat h3 {
    font-weight: 800px;
    margin: 30px 0;
}
.features .container .feat p {
    line-height: var(--line-height);
    font-size: 17px;
    color: var(--p-color);
}
/* End Features */
/* Start services */
.services {
    padding-top: var(--section-padding) ;
    padding-bottom: var(--section-padding);
}
.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 30px;
    margin-top: 100px;
}
.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width:767px){
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .srv i {
    font-size: 30px;
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-content .srv .text {
    flex: 1;
}
.services .services-content .srv .text h3 {
    margin: 0 0 20px;
}
.services .services-content .srv .text p {
    color: var(--p-color);
    font-weight: 300;
    line-height: var(--line-height);
}
.services .services-content .image {
    text-align: center;
    position: relative;
}
.services .services-content .image::before {
    content: "";
    position: absolute;
    background-color:var(--sec-color) ;
    width: 100px;
    height:  calc(100% + 100px);
    top: -50px;
    right: 0;
    z-index: -1;
}
.services .services-content img{
    width: 260px;
}
@media (max-width: 1199px){
    .services .services-content .image{
        display: none;
    }
}
/* End services */
/* Start Portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--sectoin-background);
}
.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 30px;
    margin-top: 80px;
}
.portfolio .portfolio-content .card {
    background-color: white;
}
.portfolio .portfolio-content .card img {
    max-width: 100%;
}
.portfolio .portfolio-content .card .info {
    padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
    margin: 0;
}
.portfolio .portfolio-content .card .info p {
    color: var(--p-color);
    line-height: var(--line-height);
    margin-bottom: 0;
}
@media (max-width:767px) {
    .portfolio .portfolio-content .card {
        text-align: center;
    }
}
/* End Portfolio */
/* Start About */
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}
.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 991px){
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}
.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}
@media (max-width: 991px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}
.about .about-content .image img {
    max-width: 100%;
}
.about .about-content .image::before {
    content: "";
    position:absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}
.about .about-content .image::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
    top: -40px;
}
@media (max-width: 991px){
    .about .about-content .image::after,
    .about .about-content .image::before{
        display: none;
    }
}
.about .about-content .text {
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: var(--line-height);
    margin-bottom: 50px;
}
.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    background-color: var(--main-color);
}
.about .about-content .text p:last-of-type {
    line-height: var(--line-height);
    color: var(--p-color);
}
/* End About */
/* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--sectoin-background);
}
.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}
.contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--sec-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}
.contact .info .social {
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-top: 20px;
}
.contact .info .social i {
    margin-left: 10px;
    color: var(--sec-color);
}
@media(max-width:767px) {
    .contact .info .label,
    .contact .info .link {
        font-size: 25px;
    }
}
/* End Contact */
/* Start Footer */
.footer {
    background-color: var(--sec-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
.footer span {
    font-weight: bold;
    color: var(--main-color);
}
/* End Footer */
